body {
   outline: 1px solid green; 
   height: 100vh;
}
.box{
    border: 1px solid blue;
    height: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */

}

.title{
    outline: 1px solid red;
align-self: center;
}
